@keyframes arrow-bounce {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

.arrow-bounce {
  animation: arrow-bounce 1s infinite alternate cubic-bezier(0.4, 2, 0.6, 1);
  display: inline-block;
  position: relative;
  top: -0.1rem;
  right: 1rem;
  /* font-size: 9vmax; */
  color: red;
}
