* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  border-radius: 50%;
  box-shadow: -0.5px -0.2px 8px 10px rgb(255, 253, 231);
}
#titleName {
  margin-top: 0.7rem;
  font-family: "dorian" !important;
  margin-right: 2rem;
  /* z-index: 1; */
  background: radial-gradient(
    circle at 50% 50%,
    rgb(235, 200, 44) 0%,
    rgba(255, 200, 0, 0.7) 10%,
    rgba(255, 200, 0, 0.6) 12%,
    rgba(255, 166, 0, 0.5) 17%,
    rgba(255, 166, 0, 0.25) 21%,
    rgba(255, 166, 0, 0.2) 25%,
    rgba(255, 166, 0, 0.1) 28%,
    rgba(255, 166, 0, 0.07) 32%,
    transparent 35%,
    transparent 100%
  );
  background-size: 310% 280%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: searchLightText 10s linear infinite;
  color: transparent;
}
@keyframes searchLightText {
  0% {
    background-position: 0% 0%;
  }
  33% {
    background-position: 33% 10%;
  }
  66% {
    background-position: 66% 20%;
  }
  100% {
    background-position: 100% 30%;
  }
}
#titleDescription {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  font-family: "dorian" !important;
  margin-right: 2rem;
  background: radial-gradient(
    circle at 50% 50%,
    rgb(235, 200, 44) 0%,
    rgba(255, 200, 0, 0.7) 10%,
    rgba(255, 200, 0, 0.6) 12%,
    rgba(255, 166, 0, 0.5) 17%,
    rgba(255, 166, 0, 0.25) 21%,
    rgba(255, 166, 0, 0.2) 25%,
    rgba(255, 166, 0, 0.1) 28%,
    rgba(255, 166, 0, 0.07) 32%,
    transparent 35%,
    transparent 100%
  );
  background-size: 415% 280%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  animation: searchLightText 13s linear infinite;
}
